/* add CSS class and element and selectors here */
body {
  background-color: pink;
  font-size: 150%;
  color: green;
  text-shadow: 2px 2px blue;
}

.example {
  font-size: 300%;
  background-color: lightgreen;
  font-family: courier;
  border: 1px dotted red;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: rotate(-30)deg;
}
h3 {
  font-size: 300%;
}

div {
  border: double blue;
}
